<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.azure_ad_test">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
    <application android:label="azure_ad_test.Android">
      <!--azure AD-->
      <activity android:name="microsoft.identity.client.BrowserTabActivity">
        <intent-filter>
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <!-- example -->
          <!-- <data android:scheme="msalaaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee" android:host="auth" /> -->
          <data android:scheme="msal1a019c0d-3ee1-442c-b19c-ecaea10f21fd://auth" android:host="auth" />
        </intent-filter>
      </activity>
      <!--azure AD END-->
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
